body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;

}

h1{
    font-size: larger;

}

p{
    text-align: justify;
}

#highScoreWindow{
    position: relative;
    margin: 10px;
    top: 0px;
    left: 0px;
    width: fit-content;
    padding: 10px;
    color: red;
    font-weight: bold;
}

#highScoreWindow:hover{
    cursor: pointer;
}

.questionWindow{
    position: relative;
    padding: 10px;
    width: 60%;
    top: 5%;
    left: 20%;
    height: auto;
    text-align: center;
}

.questionText{
    font-size: larger;
    font-weight: bolder;
}

.choicesWindow{
    position: relative;
    left: 35%;
    top: 2%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}



.resultsWindow{
    position: relative;
    padding: 10px;
    width: 60%;
    top: 5%;
    left: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    

}

.btn-start{
    background-color: cornflowerblue; 
    height: auto;
    width: 200px;
    font-size: larger;
    border-radius: 20px;
    color: white;
    padding: 10px;
    opacity: 0.95;
    border: 2px solid white;
}

.btn-start:hover{
    opacity: 1;
    border: 2px solid blue;
    cursor: pointer;
}

.btn-choices{
    background-color: lightgrey;
    border-radius: 10px;
    height: auto;
    width: 100%;
    align-self: left;
    border: 2px solid darkgrey;
    padding: 5px;
    position: relative;
    top: 0;
    margin: 2.5px;
    text-align: left;
    color: black;
}



.btn-choices:hover{
    cursor: pointer;
    color: white;
    background-color: cornflowerblue;


}

#timerWindow{
    position: absolute;
    float: right;
    top: 0;
    left: 81%;
    width: auto;
    height: auto;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
}

#timeRemaining{
    padding-left: 10px;

}


.choicesWindow-Saving {
    position: relative;
    left: 39%;
    top: 5%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    
}

.resultsWindow-Saving {
    position: relative;
    padding: 10px;
    width: 30%;
    top: 5%;
    left: 39%;
    height: auto;
    text-align: left; 
}

footer{
    position: relative;
    top: 100%;
    left: 25%;
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}